<h1>Bienvenido a nuestro chat Comisión 53130</h1>


<div>
    <input type="text" id="chatBox">
</div>

{{!-- Registo de mensajes de todos los usuarios conectados --}}
<div>
    <p id="logMessages"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>